{# Move visual comfort HTML content here #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Visual Comfort</title>
        <link rel="stylesheet" href="{{ asset('assets/css/visual-comfort.css') }}">
    </head>
    <body>
        {# Add visual comfort page content here #}
    </body>
</html> 